DATABASE_URL=postgres://postgres:mypassword@localhost:5432/postgres
BETTER_AUTH_SECRET=<secret-key>
BETTER_AUTH_URL=http://localhost:3000
ENCRYPTION_SECRET_KEY=<encryption-secret-key>
SUPERADMIN_PASSWORD=<masukkan-password-kuat-disini>