# ==============================================================================
# KONFIGURASI FRONTEND (NEXT.JS)
# ==============================================================================

# Base URL untuk API Backend (Fastify)
# Variabel yang diawali dengan NEXT_PUBLIC_ dapat diakses dari sisi klien (browser)
NEXT_PUBLIC_API_URL=http://localhost:3000
